@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html {
  box-sizing: border-box;
  margin:0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color:rgb(76,79,91);
  font-family:'Open Sans', sans-serif;
}

hr {
  opacity:0.2;
}

#card {
  width:900px;
  height:650px;
  background-color:white;
  border-radius:7px;
  margin:0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#all {
  margin-left:3em;
  margin-top:5em;
}

#image {
  width:335px;
  float:right;
  border-radius:0px 7px 7px 0px;
}

#top-text {
  padding-top:5em;
}

#pretext {
  color:grey;
  letter-spacing: 2px;
  width:200px;
  font-size:10px;
  font-weight:800;
  max-width: 50em;
  opacity:0.6;
  padding-left:3px;
}

#title {
  opacity:0.8;
  letter-spacing:1.5px;
  font-size:40px;
  font-weight: 300;
  max-width:50em;
  margin-bottom:15px;
  margin-top:0;
}

#subtext {
  opacity:0.4;
  font-size:12px;
  font-weight:600;
  margin-top:0;
  padding-left:3px;
  width:450px;
}


#google {
  border:	#e9e9e9 solid 1px;
  border-radius:7px;
  height:70px;;
  width:450px;
  display:flex;
  justify-content: space-around;
  transition-duration:1s;
  margin-bottom:1em;
  margin-top:2em;
}

/* maybe keyframe would be better??*/

#google:hover {
  transition-duration: 0.5s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border:none;
  cursor:pointer;
}

#log-in-text-g {
  line-height: 43px;
  font-size:12px;
  letter-spacing: 2px;
  font-weight:600;
  color:#616161;
  padding-right:5.2em;
}

#gplus {
  width:25px;
  height:25px;
  margin-top:21px;
  margin-left:7px;
}

#facebook {
  border:	#e9e9e9 solid 1px;
  border-radius:7px;
  height:70px;
  width:450px;
  display:flex;
  justify-content: space-around;
  margin-bottom:1em;
  transition-duration: 1s;
}

#facebook:hover {
  transition-duration: 0.5s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border:none;
  cursor:pointer;
}

#fb-logo {
  height:25px;
  height:25px;
  margin-top:21px;
}

#log-in-text-f {
  line-height: 43px;
  font-size:12px;
  letter-spacing: 2px;
  font-weight:600;
  color:#616161;
  padding-right:4.6em;
}

#twitter {
  border:	#e9e9e9 solid 1px;
  border-radius:7px;
  height:70px;;
  width:450px;
  display:flex;
  justify-content: space-around;
  margin-bottom:1em;
  transition-duration: 1s;
}

#twitter:hover {
  transition-duration: 0.5s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border:none;
  cursor:pointer;
}

#tw-logo {
  height:18px;
  height:18px;
  margin-top:26px;
}

#log-in-text-t {
  line-height: 43px;
  font-size:12px;
  letter-spacing: 2px;
  font-weight:600;
  color:#616161;
  padding-right:5.7em;
}

/*fix footer vertical align */
footer {
  margin-top:5.5em;
}

#footer-text{
  color:#4d4d4d;
  opacity:0.8;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  float:left;
  margin-left:4.5em;
  padding-top:5px;
}

#use-your-email {
  float:right;
  margin-right:6em;
  margin-top:1.3em;
  font-size:11px;
  letter-spacing:2px;
  color:rgb(76,79,91);
  font-weight:700;
  cursor:pointer;
  padding-top:4px;
}
